<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Online Doctor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="main-div">
    <div>
      <ion-icon name="arrow-back-outline"></ion-icon>
      <div class="logo">
        <div class="image"></div>
      </div>
    </div>
    <h2 class="heading">
      Create New Password
    </h2>
    <div class="form">
      <div class="input-box">
        <ion-icon name="lock-closed-outline" class="lock-icon"></ion-icon>
        <input class="text" type="text" placeholder="Enter new password" required>
        <ion-icon name="eye-off-outline" class="eye-icon"></ion-icon>
      </div>
      <div class="input-box">
        <ion-icon name="lock-closed-outline" class="lock-icon"></ion-icon>
        <input class="text"  type="text" placeholder="Enter conform password" required>
        <ion-icon name="eye-off-outline" class="eye-icon"></ion-icon>
      </div>
    </div>
    <div>
      <button class="btn">Save Changes</button>
    </div>
  </div>

</ion-content>