<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="heading">
      <div>
        <ion-icon name="arrow-back-outline" class="arrow"></ion-icon>
      </div>
      <div>
        <h6>Fill your Profile</h6>
      </div>
    </div>
    <div class="image">
      <div class="img"></div>
    </div>
    <div class="pen" (click)="open()">
      <i class="fa-solid fa-pen" ></i>
    </div>
    <div>
      <div class="input-box">
        <input class="text" type="text" name="text" placeholder="FullName" required [(ngModel)]="form.fullname">
      </div>
      <div class="input-box">
        <input class="text" name="text" placeholder="NickName" required [(ngModel)]='form.nickname'>
      </div>
      <div class="input-box">
        <input class="text" type="date" name="date" required [(ngModel)]="form.dateofbirth">
      </div>
      <div class="input-box">
        <input class="text" type="email" name="email" placeholder="Email" required [(ngModel)]="form.email">
      </div>
      <div>
        <select name="gender" class="Gender" required [(ngModel)]="form.gender">
          <option value="" disabled selected>Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="input-box">
        <input class="text" type="email" name="email" placeholder="Enter Password" required [(ngModel)]="form.password">
      </div>
      <div class="input-box">
        <input class="text" type="email" name="email" placeholder="Confirm Pasword" required [(ngModel)]="form.confirmpassword">
      </div>
    </div>
    <div>
      <button class="btn" (click)="signup()">continue</button>
    </div>
  </div>

</ion-content>