<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <ion-icon name="arrow-back-outline"></ion-icon>
    <div class="logo">
      <div class="image"></div>
    </div>
    <div class="heading">
      <h2>
        let's you in
      </h2>
    </div>
    <div class="second">
      <div class="btn-container">
        <button class="btn">
          <ion-icon name="logo-facebook" class="facebook-icon"></ion-icon>
          <h6 class="text">Continue with Facebook</h6>
        </button>
      </div>
      <div class="btn-container">
        <button class="btn">
          <div class="logo">
            <div class="google-logo"></div>
          </div>
          <h6 class="text">Continue with Google</h6>
        </button>
      </div>
      <div class="btn-container">
        <button class="btn">
          <ion-icon name="logo-apple" class="logo-apple"></ion-icon>
         <h6 class="text">Continue with Apple</h6> 
        </button>
      </div>
    </div>
    <div class="line">  
      <hr>
    </div>
    <div class="heading">
      <h4 class="head">or</h4>
    </div>

    <div class="last-div">
      <div class="second-btn">
        <button class="btn1" (click)="login()">Sign in With Password</button>
      </div>
    </div>
    <div class="signup">
      <h5>don't have account? <a class="a" (click)="signup()">Signup</a></h5>
    </div>
  </div>
</ion-content>