<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TAB3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mian">
    <div class="heading">
      <div class="icon"><ion-icon name="arrow-back-outline" class="arrow"></ion-icon></div>
      <div><h3>Forget Password</h3></div>
    </div>
    <div class="image">
      <div class="img">

      </div>
    </div>
    <div class="input-box">
      <p class="paragraph">
        Select Which Contact details should we use to 
        reset your password 
      </p>
    </div>
    <div class="input-box">
       <ion-icon name="mail-outline" class="mail-icon"></ion-icon>
       <input class="email" type="email" placeholder="viaEmail">
    </div>
    <div> 
      <button class="btn" > Continue </button>
    </div>
  </div>
  
</ion-content>
