<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-part">
    <div class="part-1">
      <div class="image">
        <img src="../../assets/181038bd-8c82-4c2e-89c2-96afd3bae915.jpeg" alt="">
      </div>
      <div class="content">
        <ion-label>Hi dear</ion-label><br>
        <ion-label>User Name</ion-label>
      </div>
    </div>
    <div>
      <ion-icon name="heart-outline" class="icon"></ion-icon>
      <ion-icon name="notifications-outline" class="icon"></ion-icon>
    </div>
  </div>
  <div class="search">
    <ion-icon name="search-outline" class="search-icon"></ion-icon>
    <ion-input type="text" placeholder="search" class="search-input"></ion-input>
    <ion-icon name="options-outline" class="filter"></ion-icon>
  </div>
  <div class="slider-main">
    <div class="slider">
    </div>
  </div>
  <h3>Doctor Speciality</h3>
  <div class="main-tab-data">
    <div class="main-tab-data-1">
      <i class="fa-solid fa-users"></i>
    </div>
    <div class="main-tab-data-2">
      <i class="fa-solid fa-tooth"></i>
    </div>
    <div class="main-tab-data-3">
      <i class="fa-solid fa-eye"></i>
    </div>
    <div class="main-tab-data-4">
      <i class="fa-solid fa-x-ray"></i>
    </div>
    <div class="main-tab-data-5">
      <i class="fa-solid fa-brain"></i>
    </div>
    <div class="main-tab-data-6">
      <i class="fa-solid fa-ellipsis"></i>
    </div>
  </div>
  <app-tab-bar></app-tab-bar>
</ion-content>