<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Online Doctor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="main-div">
    <div>
      <ion-icon name="arrow-back-outline"></ion-icon>
      <div class="logo">
        <div class="image"></div>
      </div>
    </div>
    <h2 class="heading">
      Create New Account
    </h2>
    <div class="form">
      <div class="input-box">
        <ion-icon name="mail-outline" class="mail-icon"></ion-icon>
        <input class="text" type="text" placeholder="Email" required [(ngModel)]="textfield.email">
      </div>
      <div class="input-box">
        <ion-icon name="lock-closed-outline" class="lock-icon"></ion-icon>
        <input class="text" [type]="hide ? 'password' : 'text'" placeholder="Password" required [(ngModel)]="textfield.password">
        <ion-icon name="eye-off-outline" class="eye-icon" (click)="showPassword()"></ion-icon>
      </div>
      <div>
        <label>
          <input class="checkbox" type="checkbox"> Remember me
        </label>
      </div>
    </div>
    <div>
      <button class="btn" (click)="signin()" >Sign In</button>
    </div>
    <div class="line">
      <hr>
    </div>
    <div class="head">
      <div class="heading-content">
        <h5 class="heading">
          or continue with
        </h5>
      </div>
    </div>

    <div class="container">
      <button class="logo"><ion-icon class="facebook-icon" name="logo-facebook"></ion-icon></button>
      <div class="logo">
        <div class="google-logo"></div>
      </div>
      <button class="logo"><ion-icon name="logo-apple"></ion-icon></button>
    </div>
    <div class="heading">
      <h6>Already have an account? <a (click)="signup()" >SignUp</a></h6>
    </div>
  </div>

</ion-content>